body { 
    font-family: "Gasoek One", serif;
    font-weight: 100;
    font-style: normal;
    background-image: url('Images/Desktop-Background.JPG');
}

svg {
    fill: lightblue;
}

svg:hover {
    fill: cadetblue;
}
