body {
  font-family: "Gasoek One", serif;
  font-weight: 80;
  font-style: normal;
  background-image: url(Images/Desktop-Background.JPG);
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.business-card {
  background-color: #feffb7;
  width: 300px;
  height: 450px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 20px; 
}

.business-card img {
  width: 300px;
  height: 300px;
  margin: 0px;
}


h1 {
  font-size: 35px;
  font-weight: 30;
  text-align: left;
  padding-top: 260px;
  margin-bottom: 0;
}

h2 {
  font-size: 14px;
  font-weight: 1;
  font-style: light;
  text-align: left;
  padding-bottom: 45px;
  margin-top: 0;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-bottom: 0px;
  align-content: left;
}

.icon-container svg {
  fill: rgb(255, 126, 83);
  transition: fill 0.3s ease;
  width: 30px;
  height: 30px;
}

.icon-container svg:hover {
  fill: rgb(255, 47, 0);
}

@media screen and (max-width: 750px) {
  .icon-container {
     gap: 10px;
    }
}